

body {
	padding-top: 70px;
}

tr.highlight {
	background: #FCF8E3;
}

.jumbotron {
	margin-top: -20px;
}

.jumbotron h1 a {
	color: #333333;
}

.jumbotron h1 small a {
	color: #777777;
}

.operation tbody th {
	text-align: right;
	white-space: nowrap;
	padding-left: 4px;
	padding-right: 10px;
}
.operation table td {
	padding-left: 4px;
	padding-right: 10px;
}
table .stretch {
	width: 100%;
}
.operation table td input {
	width: 100%;
}
.operation table td input[type=radio], .operation table td input[type=checkbox] {
	width: 20px;
}

.operation textarea {
	width: 100%;
	height: 150px;
}
.operation .submit {
	text-align: right;
}
.operation .submit input {
	width: auto;
}
.operation td, .operation th {
	padding-bottom: 15px;
}

.stretch-50 {
	width: 50%;
}

.show-all {
	text-align: right;
}

#chatForm table {
	width: 100%;
}
#newChatLine {
	width: 100%;
}
#chatForm td {
	padding-right: 15px;
}
#chatForm td:last-child {
	padding-right: 0px;
}
#chatLines tbody {
	max-height: 250px;
	overflow: auto;
	display: block;
	width: 100%;
}
